*{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  background-color: #E7DED0;
}

nav {
  overflow: hidden;
  position: fixed;
  margin-top: 0%;
  width: 10.3%;
  height: 95%;
  background-color: #A89C94;
  z-index: 100;
  border-top-right-radius: 250px;
  border-top-left-radius: 250px;
  animation: dropDown 0.5s ease;
  animation-fill-mode: forwards;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 150%;
}

li {
  display: block;
  border-radius: 10px;
}

nav a {
  display: block;
  color: #3E2723;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10x;
  transition: background-color 0.3s
}

a:hover {
  background-color: #d3e1fe;
  border-radius: 10px;
}

.logo {
  cursor: pointer;
  position: fixed;
  border-radius: 100px;
  z-index: 1000;
  top: 0;
  left: 0;
  border: 3px #A89C94 solid;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dropDown {
  from{
    height: 10%;
  }
  to{
    height: 100%;

  }
}
.logo.rotate {
  animation: rotateAnimation 0.5s ease;
}

.search{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 87px;
  margin-top: 0%;
  background-color: #A89C94;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput{
  width: 25%;
  height: 45%;
  border-radius: 50px;
}

input[type = "text"]:hover {
  width: 27%;
  height: 47%;
}

input[type = "text"]:focus {
  width: 27%;
  height: 47%;
}

.submitButton{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  padding: 15px;
  margin-left: -7%;
  cursor: pointer;
}

.submitButtonImage:hover {
  border-radius: 50px;
  width: 15%;
}

.banner{
  position: static;
  margin-top: 5.75%;
  z-index: -1000;
  border: 7.5px #A89C94 solid;
}

h1{
  background-color: #124559;
  color: #E7DED0;
  width: 30%;
  padding-left: 15%;
  font-size: 72px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}

.CategoryTitles{
  justify-content: right;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 520px; /* Adjust this value to change the dimensions */
  perspective: 1000px;
  position: absolute;
  transform: translate(-50%, -50%);
  outline: none;
  backface-visibility: hidden;
  will-change: transform;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.product-image, .product-description {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product-image {
  transform: rotateY(0deg);
}

.product-description {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4cbbb;
  padding: 20px;
  overflow-y: auto;
  text-align: left;
  width: 500px;
  height: 230px;
}

.product-card:hover .card-container,
.product-card:focus .card-container {
  transform: rotateY(180deg);
}

.product-card:hover .product-image,
.product-card:focus .product-image {
  transform: rotateY(0deg);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

p {
  color: #3E2723;
  padding: 0;
  margin: 0;
}

.content{
  height: 3000px;
}